<configuration>
	<system.webServer>

		<!-- Compression Settings -->
		<urlCompression doStaticCompression="false" doDynamicCompression="false" />

		<httpCompression>
			<dynamicTypes>
				<add mimeType="application/wasm" enabled="false" />
			</dynamicTypes>
			<staticTypes>
				<add mimeType="application/wasm" enabled="false" />
			</staticTypes>
		</httpCompression>

		<!-- MIME Types for Unity WebGL -->
		<staticContent>
			<remove fileExtension=".wasm" />
			<mimeMap fileExtension=".wasm" mimeType="application/wasm" />

			<remove fileExtension=".data" />
			<mimeMap fileExtension=".data" mimeType="application/octet-stream" />

			<remove fileExtension=".json" />
			<mimeMap fileExtension=".json" mimeType="application/json" />

			<remove fileExtension=".js" />
			<mimeMap fileExtension=".js" mimeType="application/javascript" />
		</staticContent>

		<!-- Caching Policy and CSP -->
		<httpProtocol>
			<customHeaders>
				<add name="Cache-Control" value="no-store, no-cache, must-revalidate, max-age=0" />
				<add name="Content-Security-Policy" value="
									default-src 'self';
									script-src 'self' 'unsafe-inline' 'unsafe-eval' https://accounts.google.com https://apis.google.com https://www.gstatic.com;
									style-src 'self' 'unsafe-inline' https://accounts.google.com;
									connect-src 'self' https://accounts.google.com https://oauth2.googleapis.com https://maps.googleapis.com https://dsa-floorplan-azd2dqabdcawfdgx.canadacentral-01.azurewebsites.net https://floorplanserver-prod.azurewebsites.net https://api.formaplanapp.com https://floorplanstore.blob.core.windows.net;
									frame-src https://accounts.google.com;
									child-src https://accounts.google.com;" />
			</customHeaders>


		</httpProtocol>

	</system.webServer>
</configuration>
